.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 8vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #444;
  color: white;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-weight: bold;
  font-size: 48px;
}

.board {
  background-color: aqua;
  padding: 4px;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: #282c34;
  color: white;
  border: 2px solid #999999;
  padding: 0;
  font-size: 168px;
  text-align: center;
  width: 200px;
  height: 200px;
}

.square:focus {
  outline:none;
  background-color: #222;
}

.status {
  margin: 20px;
  font-size: 24px;
  text-align: center;
}

.reset:focus {
  outline:none;
  background-color: #222;
}

.reset-button {
  text-align: center;
}

.reset {
  padding: 10px;
  font-size: 32px;
  margin-top: 50px;
  background-color: #282c34;
  border: 2px solid white;
  color: white;
}

.navbar {
  background-color: #222222;
  padding: 15px;
}

.nav-item {
  border-right: 2px solid white;
}

.nav-item-last {

}

.show-pointer {
  cursor: pointer;
}

.no-pointer:hover {
  cursor: default;
}

.p-square {
  font-size: 36px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #262732;
  text-align: center;
  border: 3px black solid;
  text-transform: capitalize;
}

.word-hint {
  text-align: center;
  border: 2px black solid;
  background-color: #222222;
  text-transform: capitalize;
}

.word-row {
  color: white;
}

.fade-quick {
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.stats-box {
  background-color: #222222;
  width: 30%;
  border: 3px black solid;
  border-bottom: 0px black solid ;
  font-size: 24px;
}

.stats-row {
  text-align: center;
  border-bottom: 3px black solid;
}

.stats-header {
  text-align: center;
  border-bottom: 3px black solid;
  font-size: 32px;
  padding: 5px;
}

.reset-button {
  color: white;
  width: 150px;
  height: 60px;
  border: 2px black solid;
}